.signinHeader{
    font-weight: bold;
    /* font-family: 'Merienda', cursive; */
    margin-top: 50px;
}

.secondHeader {
    font-size: 26px;
    /* font-style: italic; */
    padding-top: 10px;
}

.welcomeMsg {
    padding-top: 30px;
    padding-bottom: 15px;
    font-size: 20px;
}